* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------------------------Navigation Bar------------------------- */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* -------------------------Homepage------------------------- */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: x-large;
}

/* -------------------------Homepage Button------------------------- */
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}

.button:hover {
  background-color: #04AA6D;
  color: white;
}

/* -------------------------About Us------------------------- */
/* .meet_the_team {
  margin: 0px 700px 0px 700px;
} */

.about_us_header {
  text-align: center;
  margin: 100px 0px 0px 0px;
}

/* -------------------------Product Page------------------------- */
.product_main {
  padding: 100px;
} 

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 1500%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------Contact Us Page------------------------- */
/* Contact Us Information */
.contact_info {
  margin: 100px 50px 0px 50px;
}

/* Contact Form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact_form {
  border-radius: 5px;
  padding: 40px;
  margin: 50px 50px 50px 50px;
}

/* -------------------------Footer------------------------- */
footer {
  background-color: green;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 0px;
}

